<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="namespace"   default="$(env UAV_NAMESPACE)"/>
  <arg name="perspctive"      default="config"/>
  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"
    output="screen" ns="$(arg namespace)" args="--perspective-file $(arg perspective)">
  </node>
</launch>
